<html>

<style type="text/css">

.main {
	padding: 0px 0px 0px 50px;
}

a{
	text-decoration: none;
}

.list {
	margin: auto;
	padding: 10px 0px;
	list-style-type: none;
}


.createbtn {
	margin: auto;
	text-align: right;

}

.title {
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.content {
    margin: 0px 0px 10px 0px;;

}
</style>