<style type="text/css">

html{
	margin: auto;
	padding: 0;
}

header{
	margin: auto;
	padding: 0px 5px;

}

body{
	margin: auto;
	padding: 0;
}

a{
	text-decoration: none;
	color: blue;
}

.button{
	cursor:pointer;
}

.cancelbtn{
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none; font: menu; color: ButtonText;
    display: inline-block; padding: 2px 8px;
    font-size: 11px;
}

.err{
	text-align: center;
	color: red;
}

.postlink{
	text-decoration:none;
	color: black;
}

.tophead{
	margin: auto;
}

.middlebody{
	display:block;
	margin: auto;
	padding: 0 70px;
}

.middlefield{
	margin: auto;
	padding: 0 15%;
	text-align: center;
	
}

nav{
	margin: auto;
	padding: 7px 10px;
	background-color: #497285;
	color: #d9d9d9;
}

.username{
	color: white;
}
.mainlink{
	color: #d9d9d9;
}
.loglink{
	color: #ffffff;
}
.userlink{
	float: right;
	padding: 0 50px 0 0;
}
.fieldtable{
	width: 80%;
}
.maintable{
	border-collapse: collapse;
}

.mainth{
	background-color:#2B4450;
	color:#d9d9d9;
	padding: 10px 0px;
}

.maintd{
	background-image: url("/background/geometry2.png");
	padding: 10px 0px;
	text-align: center;
}

.hiddenmainth{
	display:none;
}

.hiddenmaintd{
	display:none;
}

.regfieldbox{

	text-align:center;
	width: 50%;
	margin: auto;
}


</style>