<html>

<style type="text/css">

.main{
	padding: 0px 0px 0px 50px;
}

a{
	text-decoration: none;
}

.button{
	cursor:pointer;
}

.cancelbtn{
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none; font: menu; color: ButtonText;
    display: inline-block; padding: 2px 8px;
    font-size: 11px;
}

.buttonalign{
	margin: auto;
	text-align: right;

}

.postlink{
	text-decoration:none;
	color: black;
}
</style>